<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
	<dict>
		<key>Kind</key>
		<string>Xcode.IDEKit.TextSubstitutionFileTemplateKind</string>	
		<key>Platforms</key>
		<array>
			<string>com.apple.platform.iphoneos</string>
		</array>
		<key>SortOrder</key>
		<integer>1</integer>		
		<key>Options</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>productName</string>
				<key>Type</key>
				<string>static</string>
				<key>Default</key>
				<string>___VARIABLE_PrefixName:identifier______VARIABLE_ModuleName:identifier___</string>
				<key>NotPersisted</key>
				<true/>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>PrefixName</string>
				<key>Type</key>
				<string>text</string>
				<key>Required</key>
				<string>YES</string>
				<key>Name</key>
				<string>Class Prefix:</string>
				<key>Description</key>
				<string>The prefix of the class.</string>
				<key>Default</key>
				<string>CUB</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>ModuleName</string>
				<key>Required</key>
				<true />
				<key>Name</key>
				<string>Module Name:</string>
				<key>Description</key>
				<string>The name of the Module</string>
				<key>Type</key>
				<string>text</string>
			</dict>
			<dict>
				<key>Identifier</key>
				<string>Combine</string>
				<key>Required</key>
				<string>YES</string>
				<key>Name</key>
				<string>automatic import Combine</string>
				<key>Type</key>
				<string>checkbox</string>				
			</dict>
			<dict>
				<key>Default</key>
				<string>false</string>
				<key>Identifier</key>
				<string>XIB</string>
				<key>Name</key>
				<string>With XIB for user interface</string>
				<key>Type</key>
				<string>checkbox</string>
			</dict>
		</array>
	</dict>
</plist>